@font-face {
    font-family: wackAbone;
    src: url(HelloWhackAMole.ttf);
}

* {
    margin: 0;
    padding: 0;

    font-family: wackAbone;
    font-size: 1.1rem;
}

.bg {
    background-color: rgb(133, 166, 181);
}

.bone-box {
    height: 8rem;
    width: 8rem;
}

.has-bone {
    background-image: url(1.png);
    background-size: 7rem 7rem;
    background-repeat: no-repeat;
    background-position: center;

}

.text-green {
    color: rgb(36, 255, 3);
}

.text-yellow {
    color: rgb(255, 255, 38);
}

.replay{
    background-color: #5fd2f5;
    transition: 0.2s;
    border: none;
    color: black !important;
}

.replay-playing{
    background-color: #77c2d9;
    transition: 0.2s;
    border: none;
    color: black !important;
}

.replay:hover {
    transform: scale(1.07)
}

            
.homeBtn{
    position: absolute;
    top: 10;
    left: 10;
}

@media only screen and (min-width: 1023px) {
 
    
    .bone-box {
        height: 9rem;
        width: 9rem;
    }

  
    .has-bone {
        background-size: 8rem 8rem;

    }

}


@media only screen and (max-width:576px) {

    .bone-box {
        height: 7rem;
        width: 7rem;
    }

 
    .has-bone {
        background-size: 5rem 5rem;

    }
}

@media only screen and (max-width:460px) {
    
    * {
        font-size: 1rem;
    }

    .bone-box {
        height: 6rem;
        width: 6rem;
    }



    .has-bone {
        background-size: 4rem 4rem;

    }
}

@media only screen and (max-width:350px) {
    * {
        font-size: 1rem;
    }

    .bone-box {
        height: 5rem;
        width: 5rem;
    }

    .has-bone {
        background-size: 3rem 3rem;

    }
}

@media only screen and (max-width:250px) {
    * {
        font-size: 1rem;
    }

    .bone-box {
        height: 4rem;
        width: 4rem;
    }

 
    .has-bone {
        background-size: 2rem 2rem;
    }
}